header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25%;
    padding: 1rem;
    background-color: rgba(204, 204, 204, 0.611);
    backdrop-filter: blur(3px);

    .navA {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50%;

        a {
            color: white;
            font-size: 1.5rem;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: rgb(169, 88, 245);
            }
        }
    }

    .navButt {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15%;

        .buttImg {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.25rem;
            border: none;
            border-radius: 50%;
            background: linear-gradient(135deg,#7868e6 0%, #cf57ff 100%);
            box-shadow: 
            7px 7px 15px rgba(0, 0, 0, 0.15),
            inset 3px 3px 6px rgba(255, 255, 255, 0.4);

            img {
                cursor: pointer;
            }
        }

        .sun-moon {
            border: none;
            background: none;
            box-shadow: none;
        }

        .local {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1.5rem 0.5rem 1.5rem;
            color: white;
            font-size: 1.1rem;
            border-radius: 0.5rem;
            border: none;
            background: linear-gradient(135deg,#7868e6 0%, #cf57ff 100%);
            box-shadow: 
            7px 7px 15px rgba(0, 0, 0, 0.15),
            inset 3px 3px 6px rgba(255, 255, 255, 0.4);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: 
                translateY(0.2rem)
                translateX(0.2rem);
                box-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.481);
            }
        }
    }

    .inputSearch {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        gap: 1rem;

        input {
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: none;
            box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.491);

            &:focus {
                outline: none;
            }
        }

        .buttonInput {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1.5rem 0.5rem 1.5rem;
            color: white;
            font-size: 1.1rem;
            border-radius: 0.5rem;
            border: none;
            background: linear-gradient(135deg,#7868e6 0%, #cf57ff 100%);
            box-shadow: 
            7px 7px 15px rgba(0, 0, 0, 0.15),
            inset 3px 3px 6px rgba(255, 255, 255, 0.4);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: 
                translateY(0.2rem)
                translateX(0.2rem);
                box-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.481);
            }
        }
    }
}

@media (max-width: 576px) {
    header {
        position: relative;
        justify-content: center;
        gap: 20%;
        padding: 0.2rem;
        background-color: rgba(204, 204, 204, 0.611);
        backdrop-filter: blur(3px);

        .navA {
            gap: 25%;

            a {
                font-size: 0.5rem;
            }
        }

        .logo img {
            width: 32px;
        }

        .navButt {
            gap: 10%;

            .buttImg img {
                width: 12px;
            }


            .local {
                padding: 0.1rem 0.2rem 0.3rem 0.1rem;
                border-radius: 0.3rem;
                font-size: 0.5rem;

                img {
                    width: 12px;
                }
            }
        }

        .inputSearch {
            width: 50%;
            gap: 1rem;

            input {
                padding: 0.1rem;
                font-size: 0.5rem;
            }

            .buttonInput {
                padding: 0.2rem 0.3rem 0.2rem 0.3rem;
                font-size: 0.5rem;
            }
        }
    }
}